@using Artisan.Next.Client.Contracts.Files
@using Refit
@using System.Text.Json
@using System.Net.Mime
@using Artisan.Next.Client.Contracts
@using Artisan.Next.Client.JsInterop
@using Microsoft.Extensions.Options

@inject HttpClient HttpClient
@inject DownloadJsInterop Download
@inject IOptions<JsonSerializerOptions> JsonOptions
@inject IBackendApi BackendApi
@inject AuthenticationStateProvider Auth
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row mb-3">
        <h1 class="col">
            JSON файлы
        </h1>
    </div>
    <div class="row mb-3">
        <InputFile id="import-json" hidden accept="application/json" OnChange="@ImportJson"/>
        <div class="btn-group col p-0 w-100">
            <button class="btn btn-success" onclick="document.getElementById('import-json').click()">
                <i class="bi bi-upload"></i>
                Импорт JSON
            </button>
            <button class="btn btn-success" @onclick="@ExportJson">
                <i class="bi bi-download"></i>
                Экспорт JSON
            </button>
        </div>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="row mb-3 p-0">
                <div class="col-10 p-0">
                    <InputText class="form-control w-100" @bind-Value="@_searchPrompt" placeholder="Поиск файлов"/>
                </div>
                <div class="col-2 p-0">
                    <button class="btn btn-info w-100" @onclick="@SearchFiles">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <div class="row mb-3 p-0">
                <table class="table table-sm table-striped table-hover col">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Редактирован</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var row in _files.Select((file, i) => (file, i)))
                    {
                        <tr>
                            <th scope="row">@(row.i + 1)</th>
                            <td>@Path.GetFileNameWithoutExtension(row.file.OriginalName)</td>
                            <td>
                                <span class="badge bg-info">
                                    @row.file.DateUpdated.ToLocalTime().ToString("yyyy-MM-dd hh:mm")
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-success" @onclick="@(() => ImportJson(row.file))">
                                    <i class="bi bi-cloud-download"></i>
                                </button>
                                <button class="btn btn-danger" @onclick="@(() => DeleteJsonFile(row.file))">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="row mb-3 p-0">
                <div class="col-10 p-0">
                    <InputText class="form-control w-100" @bind-Value="@_savedFileName" placeholder="Имя сохраняемого файла"/>
                </div>
                <div class="col-2 p-0">
                    <button class="btn btn-success w-100" 
                            @onclick="@UploadJsonFile" 
                            disabled="@string.IsNullOrEmpty(_savedFileName)">
                        <i class="bi bi-cloud-upload"></i>
                    </button>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="row mb-3 p-0">
                <div class="card text-center col">
                    <div class="card-body">
                        <h5 class="card-title">
                            Чтобы использовать облако, авторизуйтесь
                        </h5>
                        <button class="btn btn-lg btn-primary" @onclick="NavigationManager.NavigateToLogin">
                            <i class="bi bi-person-circle"></i>
                            Авторизация
                        </button>
                    </div>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    [Parameter, EditorRequired]
    public List<Minifigure> Minnies { get; set; } = null!;
    [Parameter, EditorRequired]
    public EventCallback<List<Minifigure>> MinniesChanged { get; set; }

    private IReadOnlyCollection<ManagedFileModel> _files = [];

    private string _searchPrompt = string.Empty;
    private string _savedFileName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await Auth.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated is true)
        {
            await SearchFiles();
        }
    }

    private async Task<Stream> GetJsonStream()
    {
        var images = Minnies
            .Select(x => x.ImageBase64)
            .Distinct()
            .ToArray();
        var minnies = Minnies
            .Select(x => new MinnieJsonModel(Array.IndexOf(images, x.ImageBase64), x.Name))
            .ToArray();
        var export = new MinniesSheetJsonModel(minnies, images);
        var jsonStream = new MemoryStream();
        await JsonSerializer.SerializeAsync(jsonStream, export, JsonOptions.Value);
        jsonStream.Seek(0, SeekOrigin.Begin);
        return jsonStream;
    }

    private async Task ExportJson()
    {
        await using var jsonStream = await GetJsonStream();
        await Download.DownloadAsync(jsonStream, "minnies.json");
    }

    private async Task UploadJsonFile()
    {
        await using var jsonStream = await GetJsonStream();

        var fileName = $"{_savedFileName}.json";
        await BackendApi.PostFile(
            new PostFileRequest<StreamPart>
            {
                File = new StreamPart(jsonStream, fileName, "application/json"),
                Scope = ManagedFileScope.MinniesSheet
            });

        _savedFileName = string.Empty;
        await SearchFiles();
    }

    private async Task DeleteJsonFile(ManagedFileModel file)
    {
        await BackendApi.DeleteFile(new DeleteFileRequest
        {
            UniqueName = file.UniqueName
        });
        await SearchFiles();
    }

    private async Task SearchFiles()
    {
        _files = await BackendApi.GetFiles(
            new GetFilesRequest
            {
                PartialName = _searchPrompt,
                RestrictToScope = ManagedFileScope.MinniesSheet
            });
    }

    private async Task ImportJson(ManagedFileModel file)
    {
        await using var stream = await HttpClient.GetStreamAsync(file.GetPath());
        await ImportJson(stream);
    }

    private async Task ImportJson(InputFileChangeEventArgs e)
    {
        await using var stream = e.File.OpenReadStream(1024 * 1024 * 20);
        await ImportJson(stream);
    }

    private async Task ImportJson(Stream jsonStream)
    {
        var model = await JsonSerializer.DeserializeAsync<MinniesSheetJsonModel>(jsonStream, JsonOptions.Value);
        var newMinnies = model!.Minnies.Select(x => new Minifigure
        {
            ImageBase64 = model.Images[x.ImageIndex],
            Name = x.Name
        });
        Minnies.AddRange(newMinnies);

        await MinniesChanged.InvokeAsync(Minnies);
    }

    private record MinnieJsonModel(int ImageIndex, string Name);
    private record MinniesSheetJsonModel(MinnieJsonModel[] Minnies, string[] Images);
}